@{
    Html.RenderPartial("_NavBar", ViewData["user"]);
}
    <h2>Você está logado com um Administrador!</h2>
    <br />    
    <a id="bt_tabela" asp-controller="Depoimento" asp-action="ListarDep">Ver lista</a>

